@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: transparent;
  font-family: inherit;
  text-decoration: none;
}

ol, ul, li {
  display: block;
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a img {
  border: none;
}

button, a {
  color: inherit;
  cursor: pointer;
}

textarea {
  resize: none;
}

button, input, textarea, select {
  -moz-appearance: none !important;
       appearance: none !important;
  -webkit-appearance: none !important;
  border-radius: 0;
}

body {
  background-color: #ffe0e9;
}

#root {
  height: 100vh;
  /* flex-direction: column; */
  /* a row(vízszintese.) a default, de így oszlopokba rendezem a columnnal(függőleges) - Tehát az elsődleges tengelyből másodlagost csináltam, megfordítottam őket.*/
  /*justify-content: center; /*ahol nem tudja kitölteni a tartalommal, ott középre rendezi - az elsődleges tengelyre hat.-*/
  display: -ms-grid;
  display: grid;
}

@media screen and (min-width: 1200px) {
  #root {
    margin: 0 150px;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (min-width: 1000px) and (max-width: 1199px) {
  #root {
    margin: 0 100px;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 700px) and (max-width: 999px) {
  #root {
    margin: 0 50px;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 699px) {
  #root {
    margin: 0 10px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

#root div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px;
  padding: 40px;
  border: 1px dotted #8a2846;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 7px #ffc2d4;
          box-shadow: 0px 0px 7px #ffc2d4;
  background-color: #ffe0e9;
  font-family: 'Arimo', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #522e38;
  text-decoration: none;
  -webkit-transition: background-color .1s, font-style .3s, -webkit-text-decoration .3s, -webkit-transform 1s, -webkit-box-shadow .3s;
  transition: background-color .1s, font-style .3s, -webkit-text-decoration .3s, -webkit-transform 1s, -webkit-box-shadow .3s;
  transition: text-decoration .3s, transform 1s, background-color .1s, font-style .3s, box-shadow .3s;
  transition: text-decoration .3s, transform 1s, background-color .1s, font-style .3s, box-shadow .3s, -webkit-text-decoration .3s, -webkit-transform 1s, -webkit-box-shadow .3s;
}

/*A flex és a grid mindig a közvetlen childokra lesz igaz, ezáltal vannak a parentre meg a childokra rakható tulajdonságok. Mi most csak a parentre raktunk.*/
#root div:hover {
  background: linear-gradient(132deg, #8a2846, #b9375e, #e05780);
  /* background-color: #b9375e; */
  -webkit-box-shadow: 0px 0px 10px #e05780;
          box-shadow: 0px 0px 10px #e05780;
  font-style: italic;
  -webkit-text-decoration: underline wavy 0.2rem #602437;
          text-decoration: underline wavy 0.2rem #602437;
  -webkit-transform: scale(1.2) rotate(360deg);
          transform: scale(1.2) rotate(360deg);
}
/*# sourceMappingURL=style.css.map */